//colors
$color-text: #F8FBF7;
$color-cards: #4A0F26;
$color-accent-grad: linear-gradient(90deg, #AF7332 24%, #C70B48 100%);
$color-bg: linear-gradient(153.825deg, #34021F 0%, #230014 48%, #34021F 100%);
$color-border-grad: linear-gradient(180deg, #9C9773 0%, #501028 100%);

//fonts
$font-title: "Montserrat Alternates", sans-serif;
$font-body: "Nunito Sans", sans-serif;

$container-width: 1360px;

// Responsive padding
$padding-desktop: 80px;  // 1440px and above
$padding-tablet: 40px;   // 1000px and 768px
$padding-mobile: 30px;   // 480px and 360px

// Breakpoints
$breakpoint-desktop: 1440px;
$breakpoint-large: 1000px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-small: 360px;

