@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color-bg;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1392px;
  margin: 0 auto;
  padding-left: clamp(8px, 2vw, 16px);
  padding-right: clamp(8px, 2vw, 16px);
  width: 100%;
}